/* #region misc */
* {
  box-sizing: border-box;
}

:root {
  --background-colour: dimgrey;
  --background-colour-alt: grey;
}

html {
  font-size: 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-y: scroll;
  background: var(--background-colour);
}

body {
  margin: 0;
}

p,
.push-right {
  max-width: 80ch;
}

label {
  user-select: none;
}

.toggles {
  display: flex;
  flex-direction: column;
}

input[type=radio],
input[type=checkbox] {
  margin: 0 0.5rem;
}

button,
label,
input[type=radio],
input[type=checkbox] {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed
}

.push-right {
  display: flex;
  justify-content: end;
}

.status-bar {
  min-height: 2lh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 0.5rem;
}

.status-bar>* {
  flex: 1;
  margin: 0;
}

.status-bar>.status-buttons {
  text-align: right;
}

/* #endregion */

/* #region layout */

body>div:first-child {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
footer {
  background: var(--background-colour-alt);
  min-width: 100%;
}

header,
main,
footer,
header>div,
footer>div {
  max-width: 1800px;
}

header>div,
footer>div {
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}


@media only screen and (min-width: 950px) {
  main {
    display: grid;
    grid-template-areas:
      "controls scene"
      "controls queue"
      "controls split";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-areas:
      "controls scene scene"
      "controls queue split";
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
}

main>#intro,
main>#wrapup {
  grid-area: 1/1/last-line/ end;
}

main>#scene-window {
  grid-area: scene;
}

main>#controls {
  grid-area: controls;
}

main>#priority-table {
  grid-area: queue;
}

main>#split-table {
  grid-area: split;
}

/* #endregion */

/* #region Header/Footer */

header>div {
  display: flex;
  justify-content: space-between;
}

footer>div {
  text-align: right;
}

/* #endregion */

/* #region Camera Controls */

#scene-window {
  border: 1px solid var(--background-colour-alt);
}

#scene-window>div:first-child {
  cursor: move;
  min-width: 100%;
  min-height: width;
  display: flex;
  justify-content: center;
}

#scene-window .camera-controls {
  background: var(--background-colour-alt);
  min-height: 24px;
  display: flex;
}

/* #endregion */

/* #region Tables */
table {
  width: 100%;
  max-width: 400px;
  text-align: right;
  border-collapse: collapse;
}

table,
thead {
  border: 1px solid var(--background-colour-alt);
}

td,
th {
  padding: 0 0.5rem;
}

tbody>tr:nth-child(odd) {
  background: var(--background-colour-alt);
}

@media only screen and (max-width: 440px) {
  table {
    display: block;
    overflow-x: scroll;
  }
}

/* #endregion */

/* #region Code highlights */

.code-container {
  max-width: 53ch;
  border: 1px solid var(--background-colour-alt);
  margin: 1em auto;
  padding: 0 1rem 0.25rem 0;
}

code {
  display: block;
  padding: 0.25rem 0 0.25rem 1rem
}

code:last-child {
  padding-bottom: 0;
}

code.active {
  background: var(--background-colour-alt);
}

code.skipped {
  background: var(--background-colour);
}

/* #endregion */